/* Estilos para o menu de navegação */
#menu {
  font-family: monospace;
  background-color: antiquewhite;
  color: white;
  padding: 10px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline;
  margin-right: 10px;
}

#menu ul li a {
  color: blueviolet;
  text-decoration: none;
}
#menu li a:hover {
  color: #ccc;
}


#conteudo {
  padding: 20px;
}
